/* .Chhiki {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
}

.Aman {
    padding: 0 2px 0 2px;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.Chhiki:hover {
    box-shadow: 0 8px 16px black;
} */



.Chhiki{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: o 4px 8px black;
    transition: 1s;
}

.Aman{
    padding: 0 2px 0 2px;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.Chhiki:hover{
    box-shadow: o 8px 16px black;
}

/* This code is right but it is not giving the expected results */